*.kdev4

moduleload/*
exportload/*
bin/*

sout/*
out/*

sbatch/leonardo/run-leonardo*
sbatch/snellius/run-snellius*

__pycache__/*
pytest.py
test.c

src/*cpp
sbatch/lumi/*sh
# tmp
include/communicators.h
core

plots4snellius/midfiles
plots4snellius/csvfiles
plots4snellius/mergedcsv
plots4snellius/pngimages
plots4snellius/*.png

plots4snellius/preliminary
plots4snellius/tmp
plots4snellius/sout

energy/results/
energy/parsed/
